*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box;}
h4{margin-top:0;margin-bottom:.5rem;}
table{border-collapse:collapse;}
th{text-align:inherit;}
h4{margin-bottom:.5rem;font-family:inherit;font-weight:400;color:#32325d;}
h4{font-size:1.0625rem;}
.table{width:100%;margin-bottom:1rem;color:#525f7f;background-color:transparent;}
.table td,.table th{padding:1rem;vertical-align:top;border-top:.0625rem solid #e3e3e3;}
.table thead th{vertical-align:bottom;border-bottom:.125rem solid #e3e3e3;}
.table-responsive{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;}
.progress{height:.5rem;overflow:hidden;font-size:.8rem;background-color:rgba(0,0,0,.3);border-radius:.875rem;-webkit-box-shadow:0 0 0 3px rgba(0,0,0,.3);box-shadow:0 0 0 3px rgba(0,0,0,.3);}
.progress,.progress-bar{display:-webkit-box;display:-ms-flexbox;display:flex;}
.progress-bar{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;color:#fff;text-align:center;white-space:nowrap;background-color:#3597d3;-webkit-transition:width .6s ease;transition:width .6s ease;}
@media (prefers-reduced-motion:reduce){
.progress-bar{-webkit-transition:none;transition:none;}
}
.m-0{margin:0!important;}
.font-weight-bold{font-weight:600!important;}
@media print{
*,:after,:before{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
thead{display:table-header-group;}
tr{page-break-inside:avoid;}
.table{border-collapse:collapse!important;}
.table td,.table th{background-color:#fff!important;}
}
h4{line-height:1.2;}
.card h4,h4{color:hsla(0,0%,100%,.8);}
h4{font-weight:400;}
h4{line-height:1.45em;margin-bottom:15px;}
.table>tbody>tr>td{color:#fff}
.table>thead>tr>th{border-bottom-width:1px;font-size:12px;font-weight:700;border:0;color:#fff;}
.table>tbody>tr>td,.table>thead>tr>th{border-color:hsla(0,0%,100%,.1);padding:9px 7px;vertical-align:middle;}
.table>tbody>tr{position:relative;}
.table-responsive{overflow:auto;padding-bottom:10px;}
.table-responsive th.orderable{cursor:pointer;}
table{table-layout:fixed;}
#prefectures-box input {margin-bottom:10px!important;}
.progress{border-radius:0;height:1rem;}

.red{background-color:#AC242A!important;color: #fff!important;}
.redplus{background-color:#800000!important;color: #fff!important;}
.green{background-color:#12ad2c!important;color: #000!important;}
.yellow{background-color:#ffc300!important;color: #000!important;}
.grey{background-color:#605f69!important;color: #fff!important;}
.lightgrey{background-color:#ccc!important;color: #000!important;}
.orange{background-color:#E5712A!important;color: #000!important;}

@media (min-width:961px){
.table-responsive{display:table!important;}
}
.table-responsive{display:block;}
.decreasing,.green-color,.normal{color:#12ad2c!important;}
.increasing,.red-color{color:#AC242A!important;}
.flat,.yellow-color{color:#ffc300!important;}

.jqstooltip {position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}
.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}

.jqstooltip {
    height: 50px!important;
    border-radius: 2px;
    height: auto!important;
    width: auto!important;
    border: none!important;
}

.mb-2{margin-bottom:.5rem!important;}
.pl-1{padding-left:.25rem!important;}
.text-info{color:#3597d3!important;}
@media print{
*,:after,:before{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
}
