*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box;}
h4{margin-top:0;margin-bottom:.5rem;}
table{border-collapse:collapse;}
th{text-align:inherit;}
h4{margin-bottom:.5rem;font-family:inherit;font-weight:400;color:#32325d;}
h4{font-size:1.0625rem;}
.table{width:100%;margin-bottom:1rem;color:#525f7f;background-color:transparent;}
.table td,.table th{padding:1rem;vertical-align:top;border-top:.0625rem solid #e3e3e3;}
.table thead th{vertical-align:bottom;border-bottom:.125rem solid #e3e3e3;}
.table-responsive{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;}
.progress{height:.5rem;overflow:hidden;font-size:.8rem;background-color:rgba(0,0,0,.3);border-radius:.875rem;-webkit-box-shadow:0 0 0 3px rgba(0,0,0,.3);box-shadow:0 0 0 3px rgba(0,0,0,.3);}
.progress,.progress-bar{display:-webkit-box;display:-ms-flexbox;display:flex;}
.progress-bar{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;color:#fff;text-align:center;white-space:nowrap;background-color:#3597d3;-webkit-transition:width .6s ease;transition:width .6s ease;}
@media (prefers-reduced-motion:reduce){
.progress-bar{-webkit-transition:none;transition:none;}
}
.m-0{margin:0!important;}
.font-weight-bold{font-weight:600!important;}
@media print{
*,:after,:before{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
thead{display:table-header-group;}
tr{page-break-inside:avoid;}
.table{border-collapse:collapse!important;}
.table td,.table th{background-color:#fff!important;}
}
h4{line-height:1.2;}
.card h4,h4{color:hsla(0,0%,100%,.8);}
h4{font-weight:400;}
h4{line-height:1.45em;margin-bottom:15px;}
.table>tbody>tr>td{color:#fff}
.table>thead>tr>th{border-bottom-width:1px;font-size:12px;font-weight:700;border:0;color:#fff;}
.table>tbody>tr>td,.table>thead>tr>th{border-color:hsla(0,0%,100%,.1);padding:9px 7px;vertical-align:middle;}
.table>tbody>tr{position:relative;}
.table-responsive{overflow:auto;padding-bottom:10px;}
.table-responsive th.orderable{cursor:pointer;}
table{table-layout:fixed;}
#prefectures-box input {margin-bottom:10px!important;}
.progress{border-radius:0;height:1rem;}

.red{background-color:#c82d2d!important;color: #fff!important;}
.green{background-color:#12ad2c!important;color: #000!important;}
.yellow{background-color:#ffc300!important;color: #000!important;}
.grey{background-color:#605f69!important;color: #fff!important;}
.lightgrey{background-color:#ccc!important;color: #000!important;}
.orange{background-color:#E5712A!important;color: #000!important;}

@media (min-width:961px){
.table-responsive{display:table!important;}
}
.table-responsive{display:block;}
.decreasing,.green-color,.normal{color:#12ad2c!important;}
.increasing,.red-color{color:#c82d2d!important;}
.flat,.yellow-color{color:#ffc300!important;}

.jqstooltip {position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}
.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}

.jqstooltip {
    height: 50px!important;
    border-radius: 2px;
    height: auto!important;
    width: auto!important;
    border: none!important;
}


button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{overflow:visible;}
button{text-transform:none;}
[type=button],button{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
.btn{display:inline-block;font-weight:600;color:#525f7f;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:11px 40px;font-size:.875rem;line-height:1.35em;border-radius:.25rem;-webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{-webkit-transition:none;transition:none;}
}
.btn:hover{color:#525f7f;text-decoration:none;}
.btn:focus{outline:0;-webkit-box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);}
.btn:disabled{opacity:.65;}
.btn:disabled{-webkit-box-shadow:none;box-shadow:none;}
.btn-link{font-weight:400;color:#3597d3;text-decoration:none;}
.btn-link:hover{color:#226c9a;text-decoration:none;}
.btn-link:focus{text-decoration:none;-webkit-box-shadow:none;box-shadow:none;}
.btn-link:disabled{color:#6c757d;pointer-events:none;}
.mb-2{margin-bottom:.5rem!important;}
.pl-1{padding-left:.25rem!important;}
.text-info{color:#3597d3!important;}
@media print{
*,:after,:before{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
}
.btn{font-size: 9px;border-width:2px;border:none;position:relative;overflow:hidden;margin:0px 0px;border-radius:.4285rem;cursor:pointer;background:#344675;background-image:-webkit-gradient(linear,right top,left bottom,from(#344675),color-stop(#263148),to(#344675));background-image:linear-gradient(to bottom left,#344675,#263148,#344675);background-size:210% 210%;background-position:100% 0;background-color:#344675;-webkit-transition:all .15s ease;transition:all .15s ease;-webkit-box-shadow:none;box-shadow:none;color:#fff;}
.btn:active,.btn:active:focus,.btn:active:hover,.btn:focus,.btn:hover{background-color:#263148!important;background-image:-webkit-gradient(linear,right top,left bottom,from(#344675),color-stop(#263148),to(#344675))!important;background-image:linear-gradient(to bottom left,#344675,#263148,#344675)!important;background-image:-moz-linear-gradient(to bottom left,#344675,#263148,#344675)!important;color:#fff;-webkit-box-shadow:none;box-shadow:none;}
.btn:active{-webkit-box-shadow:none!important;box-shadow:none!important;-webkit-transform:translateY(1px)!important;transform:translateY(1px)!important;-webkit-transition:all .15s ease;transition:all .15s ease;}
.btn:not([data-action]):hover{-webkit-box-shadow:2px 2px 6px rgba(0,0,0,.4);box-shadow:2px 2px 6px rgba(0,0,0,.4);transform:translateY(-1px);-webkit-transform:translateY(-1px);}
.btn:disabled,.btn:disabled:active,.btn:disabled:focus,.btn:disabled:hover{background-color:#344675;border-color:#344675;}
.btn.btn-link{color:#344675;}
.btn.btn-link:active,.btn.btn-link:focus,.btn.btn-link:hover{background-color:transparent!important;background-image:none!important;color:#fff!important;text-decoration:none;-webkit-box-shadow:none;box-shadow:none;}
.btn:focus,.btn:hover{opacity:1;filter:alpha(opacity=100);outline:0!important;}
.btn:active{-webkit-box-shadow:none;box-shadow:none;outline:0!important;}
.btn:disabled{opacity:.5;filter:alpha(opacity=50);pointer-events:none;}
.btn-link:disabled,.btn-link:disabled:active,.btn-link:disabled:focus,.btn-link:disabled:hover{background:transparent;}
.btn-link{border:0;-webkit-box-shadow:none;box-shadow:none;padding:0px 0px;background:transparent;color:#e3e3e3;font-weight:500;}
.btn-link:hover{-webkit-box-shadow:none!important;box-shadow:none!important;-webkit-transform:none!important;transform:none!important;}
.btn{cursor:pointer;}
